venv/
__pycache__/
.cache
.env
gdrive_service_account.json

# === Frontend Ignore===
frontend/node_modules/
frontend/.pnp/
frontend/.pnp.js
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*


.DS_Store
*.log

frontend/coverage/

*.swp
*.swo
.idea/
.vscode/